.card{
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px black;
    transition: 0.5s ease;
    
}

img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h3{
    padding: 40px 0 0 10px;
}

.card:hover{
    box-shadow: 0 8px 16px cornflowerblue;
    transform: scale(1.05);
}

button{
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    transition: margin-top 2s ease-in;
}

button:hover{
    margin-top: 100px;
}