body{
    margin: 0;
    background: black;
    color: white;
}

.hero{
    position: relative;
    height: 80vh;
    background: url("imgs/bg.jpg") no-repeat center/cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 400px;
}

.buttons button{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.play{
    background: white;
    color: black;
}

.info{
    background: gray;
    color: white;
}

.row{
    padding: 20px;
}

.row-posters{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.row-posters img{
    width: 150px;
    border-radius: 5px;
    transition: 0.3s;
}

.row-posters img:hover{
    transform:scale(1.1);
}


