body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background:#f4f4f4;
}

header{
    background:linear-gradient(135deg,#667eea,#764ba2);
    color:white;
    padding:40px 20px;
    text-align:center;
}

header h1{
    margin-bottom:10px;
}

header p{
    margin:5px 0;
}

.container{
    display: flex;
    max-width: 1100px;
    margin: 40px auto;
    gap: 30px;
    padding: 20px;
}

.content{
    flex: 3;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.content h2{
    margin-top:30px;
}

.content p{
    line-height:1.8;
    color:#444;
    margin-bottom:15px;
}

figure img{
    width:100%;
    max-width:400px;
    border-radius:8px;
}

figure{
    text-align:center;
    margin:20px 0;
}

figcaption{
    font-size:14px;
    color:gray;
}

.content, .sidebar{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    transition:0.3s;
}

.content:hover{
    transform: translateY(-4px);
}

.sidebar:hover{
    transform:translateY(-4px);
    box-shadow: 0 8px 20px black;
}

blockquote{
    border-left:4px solid #667eea;
    padding-left:15px;
    font-style:italic;
    color:#555;
    margin:20px 0;
}

time{
    color: black;
    font-size: 14px;
}

.sidebar{
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2{
    margin-top:0;
}

.sidebar section{
    margin-bottom:25px;
}

.sidebar ul{
    padding-left:18px;
}

.sidebar ul li{
    margin-bottom:8px;
    cursor:pointer;
    transition:0.2s;
}

.sidebar ul li:hover{
    color:#667eea;
}

footer{
    background:#222;
    color:#ccc;
    text-align:center;
    padding:30px;
    margin-top:40px;
}

footer h2{
    color:white;
}

footer .footer-para{
    color: white;
}